<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Host User Application</h1>

<div class="btn-group center ">
</div>

<table class="table center ">
    <tr>
        <td colspan="6">
            <select>
                <option>Host id</option>
                <option>Username</option>
                <option>Full Name</option>
            </select>
            <input type="text" name="keyword" placeholder="keyword"/>
            <button type="button" class="btn btn-long" name="search">Search</button>
            <br><br>
            <button type="button" class="btn btn-primary">All</button>
            <button type="button" class="btn btn-secondary">Approved</button>
            <button type="button" class="btn btn-secondary">Ask For Resubmission</button>
            <button type="button" class="btn btn-secondary">Rejected</button>
        </td>
    </tr>
    <tr>
        <th>User id</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>Status</th>
        <th>Resubmission Status</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>14</td>
        <td>johnny</td>
        <td>Johnny IP</td>
        <td>Approved</td>
        <td>-</td>
        <td>
            <button type="button" class="btn btn-long">View documents</button>
            <button type="button" class="btn btn-success">Approve</button>
            <button type="button" class="btn btn-warning">Ask For Resubmission</button>
            <button type="button" class="btn btn-danger">Reject</button>
        </td>
    </tr>
    <tr>
        <td colspan="6" style="background-color: #e4e1de">
            <table class="table center" width="100%">
                <tr>
                    <td class="alignRight">
                        <button type="button" class="btn-long">close</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>Identity Card/Passport</option>
                            <option>Home Address Proof</option>
                            <option>Bank Account Proof</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        <embed th:src="@{/img/sample.png}" >
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>24</td>
        <td>oscar</td>
        <td>Oscar</td>
        <td>Ask For Resubmission</td>
        <td>Not submitted</td>
        <td>
            <button type="button" class="btn btn-long">View documents</button>
            <button type="button" class="btn btn-success">Approve</button>
            <button type="button" class="btn btn-warning">Ask For Resubmission</button>
            <button type="button" class="btn btn-danger">Reject</button>
        </td>
    </tr>
</table>


</body>

</html>