<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Tour Management</h1>


<div class="table center horizontalTrim">
    <select>
        <option>Tour id</option>
        <option>Tour name</option>
        <option>Host id</option>
        <option>Host name</option>
    </select>
    <input type="text" name="keyword" placeholder="keyword"/>
    <button type="button" class="btn btn-long" name="search">Search</button>
</div>

<h2 class="center">Search result</h2>
<table class="table center" valign="center">
    <tr>
        <th>Tour id</th>
        <th>Tour name</th>
        <th>Host id</th>
        <th>Host name</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Tian Tan Buddha one day trip</td>
        <td>1</td>
        <td>johnny</td>
        <td>
            <button type="button" class="btn btn-small">Remove</button>
            <button type="button" class="btn btn-small">Chat</button>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ocean Park two day trip</td>
        <td>1</td>
        <td>johnny</td>
        <td>
            <button type="button" class="btn btn-small">Remove</button>
            <button type="button" class="btn btn-small">Chat</button>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>The Peak one day trip</td>
        <td>2</td>
        <td>oscar</td>
        <td>
            <button type="button" class="btn btn-small">Remove</button>
            <button type="button" class="btn btn-small">Chat</button>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>Tai-O one day trip</td>
        <td>2</td>
        <td>oscar</td>
        <td>
            <button type="button" class="btn btn-small">Remove</button>
            <button type="button" class="btn btn-small">Chat</button>
        </td>
    </tr>
</table>


</body>

</html>