<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Staff homepage</h1>

<table class="center horizontalTrim morePadding">
    <tr>
        <td><a class="btn btn-long" th:href="@{/staff/user}">User Management</a></td>
        <td><a class="btn btn-long" th:href="@{/staff/tour}">Tour Management</a></td>
    </tr>
    <tr>
        <td><a class="btn btn-long" th:href="@{/staff/report}">x Report System</a></td>
        <td><a class="btn btn-long" th:href="@{/staff/hostAppReview}">x Host User Application</a></td>
    </tr>
    <tr>
        <td><a class="btn btn-long" th:href="@{/staff/chat}">x Chat System</a></td>
    </tr>

</table>


</body>

</html>