<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Staff homepage</h1>

<table class="center horizontalTrim morePadding">
    <tr>
        <td><button class="btn btn-long" onclick="window.location='staff/user'">User Management</button></td>
        <td><button class="btn btn-long" onclick="window.location='staff/tour'">Tour Management</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-long" onclick="window.location='staff/report'">Report System</button></td>
        <td><button class="btn btn-long" onclick="window.location='staff/hostAppReview'">Host User Application</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-long" onclick="window.location='staff/chat'">Chat System</button></td>
    </tr>

</table>


</body>

</html>