<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Staff homepage</h1>

<table class="center horizontalTrim morePadding" border="1">
    <tr>
        <td><button class="btn btn-long" onclick="window.location='staff/user'">x User Management</button></td>
        <td><button class="btn btn-long" onclick="window.location='staff/tour'">x Tour Management</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-long" onclick="window.location='staff/report'">x Report System</button></td>
        <td><button class="btn btn-long" onclick="window.location='staff/hostAppReview'">x Host User Application</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-long" onclick="window.location='staff/chat'">x Chat System</button></td>
    </tr>

</table>


</body>

</html>