<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Record</title>
</head>
<body>
<header th:insert="header.html :: header"></header>
<h1>Booking Record</h1>
<table class="table center " border="1" >
    <tr>
        <th>Tour code</th>
        <th>Tour name</th>
        <th>Start day</th>
        <th>End day</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>HK031</td>
        <td>Tian Tan Buddha one day trip</td>
        <td>08-13-2022</td>
        <td>08-13-2022</td>
        <td>
            <a class="btn btn-long" th:href="@{/tourist/bookingDetail}">Detail</a>
            <button class="btn btn-long">Chat with Host</button>
            <button class="btn btn-long">Withdraw</button>
        </td>
    </tr>
</table>
</body>
</html>