<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Detail</title>
</head>
<body>
<header th:insert="header.html :: header"></header>
<h1>Booking Detail</h1>
<div class="container center">
    <h1>Confirm Your Payment</h1>
    <table class="table center horizontalTrim">
        <tr>
            <th>Tour Name</th>
            <td>Tian Tan Buddha one day trip</td>
        </tr>
        <tr>
            <th>Tour start date</th>
            <td>02-17-2022</td>
        </tr>
        <tr>
            <th>Number of people</th>
            <td>2</td>
        </tr>
        <tr>
            <th>Cost per person</th>
            <td>$100</td>
        </tr>
        <tr>
            <th>Total Amount</th>
            <td>$200</td>
        </tr>
    </table>

    <h2>Payment Detail</h2>
    <table class="table center horizontalTrim">
        <tr>
            <th>Card Number</th>
            <td>
                **** **** **** 1234
            </td>
        </tr>
        <tr>
            <th>Name On Card</th>
            <td>
                Johnny
            </td>
        </tr>
        <tr>
            <th>Transaction Time</th>
            <td>02-20-2022 15:00:00</td>
        </tr>
    </table>

</div>
</body>
</html>