<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review System</title>
</head>
<script>
    // alert("Please select a rating");
</script>
<body>
<header th:insert="header.html :: header"></header>
<h1>Review System</h1>
<p>Give a rating and a review for your finished tours.</p>

<table class="table center horizontalTrim">
    <tr>
        <td colspan="2">
            <h2 class="borderedWithColor">Review You Have Written (Can be folded in production)</h2>
        </td>
    </tr>
    <tr>
        <th>Tour</th>
        <td>
            <select>
                <option>Tian Tan Buddha one day trip (08-13-2022)</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h4>Review for the tour</h4>
        </td>
    </tr>
    <tr>
        <th>Rating</th>
        <td>
            &#9733;&#9733;&#9733;&#9733;&#9733;
        </td>
    </tr>
    <tr>
        <th>Comment</th>
        <td>
            Boring tour. Don't join!
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <h4>Review for the host</h4>
        </td>
    </tr>
    <tr>
        <th>Rating</th>
        <td>
            &#9733;&#9733;&#9733;&#9733;&#9733;
        </td>
    </tr>
    <tr>
        <th>Comment</th>
        <td>
            Nice host, have patient.
        </td>
    </tr>
</table>

<table class="table center horizontalTrim">
    <tr>
        <td colspan="2">
            <h2 class="borderedWithColor">Write A Review</h2>
        </td>
    </tr>
    <tr>
        <th>Choose a tour you have finished</th>
        <td>
            <select>
                <option>Tian Tan Buddha one day trip (08-13-2022)</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h4>Review for the tour</h4>
        </td>
    </tr>
    <tr>
        <th>Rating</th>
        <td>
            <button type="button" class="btn rating">&#9733;</button>
            <button type="button" class="btn rating">&#9734;</button>
            <button type="button" class="btn rating">&#9734;</button>
            <button type="button" class="btn rating">&#9734;</button>
            <button type="button" class="btn rating">&#9734;</button>
        </td>
    </tr>
    <tr>
        <th>Comment</th>
        <td>
            <textarea></textarea>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <h4>Review for the host</h4>
        </td>
    </tr>
    <tr>
        <th>Rating</th>
        <td>
            <button type="button" class="btn rating">&#9733;</button>
            <button type="button" class="btn rating">&#9734;</button>
            <button type="button" class="btn rating">&#9734;</button>
            <button type="button" class="btn rating">&#9734;</button>
            <button type="button" class="btn rating">&#9734;</button>
        </td>
    </tr>
    <tr>
        <th>Comment</th>
        <td>
            <textarea></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" class="btn btn-long">Submit</button>
        </td>
    </tr>
</table>

</body>
</html>