<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply System</title>
</head>
<body>
<header th:insert="header.html :: header"></header>
<h1>Apply Tour</h1>
<table class="table center">
    <tr>
        <td>
            <div class="card ">
                <a th:href="@{/tourist/tourDetail}">
                    <img width="400" th:src="@{/img/buddha.jpg}"><br>
                    <p>Tian Tan Buddha one day trip</p>
                </a>
            </div>
        </td>
        <td>
            <div class="card">
                <a th:href="@{/tourist/tourDetail}">
                    <img width="400" th:src="@{/img/ocean-park.jpg}"><br>
                    <p>Ocean Park two day trip</p>
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card">
                <a th:href="@{/tourist/tourDetail}">
                    <img width="400" th:src="@{/img/peak.jpg}"/><br>
                    <p>The Peak one day trip</p>
                </a>
            </div>
        </td>
        <td>
            <div class="card">
                <a th:href="@{/tourist/tourDetail}">
                    <img width="400" th:src="@{/img/TaiO.jpg}"><br>
                    <p>Tai-O one day trip</p>
                </a>
            </div>
        </td>
    </tr>
</table>
<nav id="pagination">
    <nav aria-label="Page" navigation="" example="">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled"><a class="page-link" href="javascript:setCurrentPage(1)">First</a></li>
            <li class="page-item disabled"><a class="page-link" href="javascript:previous()">Previous</a></li>
            <li class="page-item "><a class="page-link" href="javascript:setCurrentPage(1)">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:setCurrentPage(2)">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:setCurrentPage(3)">3</a></li>
            <li class="page-item"><a class="page-link" href="javascript:setCurrentPage(4)">4</a></li>
            <li class="page-item"><a class="page-link" href="javascript:setCurrentPage(5)">5</a></li>
            <li class="page-item"><a class="page-link" href="javascript:next()">Next</a></li>
            <li class="page-item"><a class="page-link"
                                     href="javascript:setCurrentPage(Math.ceil(videos.length/VIDEOS_PER_PAGE))">Last</a>
            </li>
        </ul>
    </nav>
</nav>
</body>
</html>