<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Signup as Tourist</h1>

<form >
    <table class="horizontalTrim center morePadding" >
        <tr>
            <td colspan="2">
                <div class="alert alert-danger" role="alert">
                    The username is already been used!
                </div>
            </td>
        </tr>
        <tr>
            <td>Username</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Re-enter password</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Nationality</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="button" class="btn btn-long">Clear</button>
                <a class="btn btn-long" th:href="@{/tourist/signupResult}">Submit</a>
            </td>
        </tr>
    </table>
</form>


</body>

</html>