<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Signup as Tourist</h1>

<form >
    <table class="horizontalTrim center morePadding" >
        <tr>
            <td>Username</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Re-enter password</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Nationality</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="button">Clear</button>
                <button type="button">Submit</button>
            </td>
        </tr>
    </table>
</form>


</body>

</html>