<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="header.html :: header"></header>
<table>
    <tr>
        <td colspan="2"><img th:src="@{/img/buddha.jpg}"></td>
    </tr>
    <tr>
        <td>Name of tour:</td>
        <td>Tian Tan Buddha one day trip</td>
    </tr>
    <tr>
        <td>Tour's day(s):</td>
        <td><p>1</p></td>
    </tr>
    <tr>
        <td>Description:</td>
        <td><p>The Big Buddha and Po Lin Monastery are a major draw for Buddhist pilgrims. And these majestic religious monuments, set against beautiful mountain and coastal scenery, are just as popular with a wide range of visitors in Hong Kong.</p></td>
    </tr>
    <tr>
        <td colspan="2"><button>Apply</button></td>
    </tr>
</table>
</body>
</html>