<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        let tour = {}
        let tourDates = {}
        let tourSlotsLeft = {}

        function onLoadHandler() {
            let formActionURL = '/tourist/payment'
            if (window.location.host == "tomcat.johnnyip.com") {
                formActionURL = '/tour-system' + formActionURL
            }
            document.getElementById("submitForm").action = formActionURL

            fetchTour()
            fetchTourDates()
        }

        function fetchTour() {
            let tourId = document.getElementById("tourIdChosen").value;

            let requestURL = '/api/tour/tourDetail/' + tourId
            if (window.location.host == "tomcat.johnnyip.com") {
                requestURL = '/tour-system' + requestURL
            }

            var xmlHttpGet = new XMLHttpRequest();
            xmlHttpGet.open("GET", requestURL, false); // false for synchronous request
            xmlHttpGet.send(null);
            let tourDetail = JSON.parse(xmlHttpGet.responseText);

            console.log(tourDetail)

            if (tourDetail.coverPhoto != "") {
                document.getElementById("result_img").src = "https://uow-project-tour-system.s3.ap-east-1.amazonaws.com/" + tourDetail.coverPhoto
            } else {
                document.getElementById("result_img").setAttribute("hidden", "hidden")
            }
            document.getElementById("result_name").innerText = tourDetail.name
            document.getElementById("result_days").innerText = tourDetail.days
            document.getElementById("result_fee").innerText = "$" + tourDetail.fee
            document.getElementById("result_description").innerText = tourDetail.description
            document.getElementById("result_schedule").innerText = tourDetail.schedule

            tour = tourDetail

        }

        function fetchTourDates() {
            let tourId = document.getElementById("tourIdChosen").value;

            let requestURL = '/api/tour/tourDates/' + tourId
            if (window.location.host == "tomcat.johnnyip.com") {
                requestURL = '/tour-system' + requestURL
            }

            var xmlHttpGet = new XMLHttpRequest();
            xmlHttpGet.open("GET", requestURL, false); // false for synchronous request
            xmlHttpGet.send(null);
            let resultObject = JSON.parse(xmlHttpGet.responseText);

            console.log("TourDates:")
            console.log(resultObject)

            tourDates = resultObject

            let selectHTML = ""
            for (const dateDetail of resultObject) {
                //Get slots left
                let slotsLeft = fetchToursParticipants(dateDetail)

                //set option detail
                const offset = (new Date()).getTimezoneOffset();
                let tempDate = Date.parse(dateDetail.date) - offset;
                let time = new Date(tempDate);
                let date = `${time.getFullYear()}-${time.getMonth() + 1}-${time.getDate()} `

                selectHTML += `<option value="${dateDetail.id}">${date} [${slotsLeft}/${tour.participantLimit} remaining]</option>`
            }
            document.getElementById("result_tourDates").innerHTML = selectHTML

            dateOnChange();

        }

        function fetchToursParticipants(tourDate) {

            let requestURL = '/api/tour/tourParticipant/' + tourDate.id
            if (window.location.host == "tomcat.johnnyip.com") {
                requestURL = '/tour-system' + requestURL
            }

            var xmlHttpGet = new XMLHttpRequest();
            xmlHttpGet.open("GET", requestURL, false); // false for synchronous request
            xmlHttpGet.send(null);
            let resultObject = JSON.parse(xmlHttpGet.responseText);

            console.log(resultObject)

            let totalCapacity = tour.participantLimit

            for (const participant of resultObject) {
                totalCapacity = totalCapacity - participant.quantity;
            }

            tourSlotsLeft[tourDate.id] = totalCapacity;

            return totalCapacity;

        }

        function setQuantityOption(quantity) {
            let optionHTML = ""

            for (let i = 1; i <= quantity; i++) {
                optionHTML += `<option value="${i}">${i}</option>`
            }
                document.getElementById("quantity").innerHTML = optionHTML
        }

        function dateOnChange(){
            let dateId = document.getElementById("result_tourDates").value
            let quantity = tourSlotsLeft[dateId]

            console.log("dateId: "+dateId)
            console.log("Quantity: "+quantity)
            setQuantityOption(quantity)

            if (quantity == 0){
                document.getElementById("formSubmitButton").setAttribute("hidden","hidden")
            }else{
                document.getElementById("formSubmitButton").removeAttribute("hidden")
            }


        }

        function submitBooking() {
            let tourDateId = document.getElementById("result_tourDates").value
            let tourId = document.getElementById("tourIdChosen").value
            let quantity = document.getElementById("quantity").value;


            let bodyJSON = JSON.stringify({
                id: 0,
                tourId: tourId,
                tourDateId: tourDateId,
                quantity: quantity,
            })

            let requestURL = '/api/tour/saveTour'
            if (window.location.host == "tomcat.johnnyip.com") {
                requestURL = '/tour-system' + requestURL
            }

            var xmlHttpPOST = new XMLHttpRequest();
            xmlHttpPOST.open("POST", requestURL, false); // false for synchronous request
            xmlHttpPOST.setRequestHeader("Content-Type", "application/json")
            xmlHttpPOST.send(bodyJSON);
            let createTourResult = JSON.parse(xmlHttpPOST.responseText)
            console.log(createTourResult)


        }

    </script>
</head>
<body onload="onLoadHandler()">
<header th:insert="header.html :: header"></header>

<form method="POST" id="submitForm">
    <input type="text" name="tourId" id="tourIdChosen" hidden th:value="${tourId}">

    <table class="center table horizontalTrim">
        <tr>
            <td colspan="2">
                <h2 class="center borderedWithColor">Tour Detail</h2>
            </td>
        </tr>

        <tr>
            <!-- Photo -->
            <td colspan="2">
                <img id="result_img" class="center" style="height: 400px">
            </td>
        </tr>
        <tr>
            <th width="20%">Name of tour:</th>
            <td id="result_name"style="text-align:left" >Error</td>
        </tr>
        <tr>
            <th>Tour's day(s):</th>
            <td id="result_days" style="text-align:left"></td>
        </tr>
        <tr>
            <th>Cost per tourist:</th>
            <td id="result_fee" style="text-align:left"></td>
        </tr>
        <tr>
            <th>Description:</th>
            <td id="result_description" style="text-align:left"></td>
        </tr>
        <tr>
            <th>Tour Schedule</th>
            <td id="result_schedule" style="text-align:left"></td>
        </tr>

        <tr>
            <td colspan="2">
                <h2 class="center borderedWithColor">Booking Options</h2>
            </td>
        </tr>
        <tr>
            <th>Date</th>
            <td>
                <select name="tourDateId" id="result_tourDates" onchange="dateOnChange()">
                </select>
            </td>
        </tr>
        <tr>
            <th>No. of people</th>
            <td>
                <select name="quantity" id="quantity">
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" class="btn-long btn" id="formSubmitButton" />
            </td>
        </tr>
    </table>
</form>

<table class=" table horizontalTrim">
    <tr>
        <td colspan="2">
            <h2 class="center borderedWithColor">Reviews</h2>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="horizontalTrim center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Review for this Tour</button>
                <button type="button" class="btn btn-secondary">Review for the Host</button>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Username<br>
            02-11-2022<br>
            &#9733;&#9733;&#9733;&#9733;&#9733;<br>
        </td>
        <td>This trip is brilliant!</td>
    </tr>
    <tr>
        <td>
            Username<br>
            02-12-2022<br>
            &#9734;&#9734;&#9734;&#9734;&#9734;<br>
        </td>
        <td>The place is so boring! Don't join this!</td>
    </tr>

</table>
</body>
</html>