<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function onLoadHandler(){
            fetchTour()
            fetchTourDates()
        }

        function fetchTour(){
            let tourId = document.getElementById("tourIdChosen").value;

            let requestURL = '/api/tour/tourDetail/'+tourId
            if (window.location.host == "tomcat.johnnyip.com"){
                requestURL = '/tour-system' + requestURL
            }

            var xmlHttpGet = new XMLHttpRequest();
            xmlHttpGet.open("GET", requestURL, false); // false for synchronous request
            xmlHttpGet.send(null);
            let tourDetail = JSON.parse(xmlHttpGet.responseText);

            console.log(tourDetail)

            if (tourDetail.coverPhoto != ""){
                document.getElementById("result_img").src = "https://uow-project-tour-system.s3.ap-east-1.amazonaws.com/"+tourDetail.coverPhoto
            }else{
                document.getElementById("result_img").setAttribute("hidden","hidden")
            }
            document.getElementById("result_name").innerText = tourDetail.name
            document.getElementById("result_days").innerText = tourDetail.days
            document.getElementById("result_fee").innerText = "$"+tourDetail.fee
            document.getElementById("result_description").innerText = tourDetail.description
            document.getElementById("result_schedule").innerText = tourDetail.schedule



        }

        function fetchTourDates(){
            let tourId = document.getElementById("tourIdChosen").value;

            let requestURL = '/api/tour/tourDates/' + tourId
            if (window.location.host == "tomcat.johnnyip.com"){
                requestURL = '/tour-system' + requestURL
            }

            var xmlHttpGet = new XMLHttpRequest();
            xmlHttpGet.open("GET", requestURL, false); // false for synchronous request
            xmlHttpGet.send(null);
            let resultObject = JSON.parse(xmlHttpGet.responseText);

            console.log(resultObject)

            let selectHTML = ""
            for(const dateDetail of resultObject){
                const offset = (new Date()).getTimezoneOffset();
                let tempDate = Date.parse(dateDetail.date) - offset;
                let time = new Date(tempDate);
                let date = `${time.getFullYear()}-${time.getMonth()+1}-${time.getDate()} `

                selectHTML += `<option value="${dateDetail.id}">${date}</option>`
            }

            document.getElementById("result_tourDates").innerHTML = selectHTML
        }


    </script>
</head>
<body onload="onLoadHandler()">
<header th:insert="header.html :: header"></header>

<input type="text" id="tourIdChosen" th:value="${tourId}">

<table class="center table horizontalTrim">
    <tr>
        <td colspan="2">
            <h2 class="center borderedWithColor">Tour Detail</h2>
        </td>
    </tr>

    <tr>
        <!-- Photo -->
        <td colspan="2">
            <img id="result_img" class="center" style="height: 400px">
        </td>
    </tr>
    <tr>
        <th width="20%">Name of tour:</th>
        <td id="result_name">Error</td>
    </tr>
    <tr>
        <th>Tour's day(s):</th>
        <td id="result_days"></td>
    </tr>
    <tr>
        <th>Cost per tourist:</th>
        <td id="result_fee"></td>
    </tr>
    <tr>
        <th>Description:</th>
        <td id="result_description"></td>
    </tr>
    <tr>
        <th>Tour Schedule</th>
        <td id="result_schedule"></td>
    </tr>

    <tr>
        <td colspan="2">
            <h2 class="center borderedWithColor">Booking Options</h2>
        </td>
    </tr>
    <tr>
        <th>Date</th>
        <td>
            <select id="result_tourDates">
                <option>02-17-2022 3/10 remaining</option>
                <option>02-19-2022 10/10 remaining</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>No. of people</th>
        <td>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a class="btn btn-long" th:href="@{/tourist/payment}">Book Now</a>
        </td>
    </tr>
</table>

<table class=" table horizontalTrim">
    <tr>
        <td colspan="2">
            <h2 class="center borderedWithColor">Reviews</h2>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="horizontalTrim center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Review for this Tour</button>
                <button type="button" class="btn btn-secondary">Review for the Host</button>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Username<br>
            02-11-2022<br>
            &#9733;&#9733;&#9733;&#9733;&#9733;<br>
        </td>
        <td>This trip is brilliant!</td>
    </tr>
    <tr>
        <td>
            Username<br>
            02-12-2022<br>
            &#9734;&#9734;&#9734;&#9734;&#9734;<br>
        </td>
        <td>The place is so boring! Dont join this!</td>
    </tr>

</table>
</body>
</html>