<html xmlns:th="http://www.thymeleaf.org">

<body>

<header th:insert="header.html :: header"></header>
<h1>Tourist homepage</h1>

<div th:if="${signUpSuccess}" class="alert alert-success " role="alert">
    Sign up successful!
</div>


<table class="center horizontalTrim morePadding">
    <tr>
        <td colspan="2">
            <h2 class="center borderedWithColor">Tours</h2>
        </td>
    </tr>
    <tr>
        <td><a class="btn btn-long" th:href="@{/tourist/search}">Search Tour</a></td>
        <td><a class="btn btn-long" th:href="@{/tourist/booking}">Booking History</a></td>
    </tr>
    <tr>
        <td><a class="btn btn-long" th:href="@{/tourist/review}">Review The Tour</a></td>
    </tr>
    <tr>
        <td colspan="2">
            <h2 class="center borderedWithColor">Others</h2>
        </td>
    </tr>
    <tr>
        <td><a class="btn btn-long" th:href="@{/tourist/report}">Report System</a></td>
        <td><a class="btn btn-long" th:href="@{/user/chat}">Chat System</a></td>
    </tr>

</table>

</body>

</html>