<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Tourist homepage</h1>

<table class="center horizontalTrim morePadding">
    <tr>
        <td><a class="btn btn-long" th:href="@{/tourist/apply}">Apply Tour</a></td>
        <td><a class="btn btn-long" th:href="@{/tourist/payment}">Payment Method</a></td>
    </tr>
    <tr>
        <td><a class="btn btn-long" th:href="@{/tourist/booking}">x Booking Tour</a></td>
        <td><a class="btn btn-long" th:href="@{/tourist/review}">x Review The Tour</a></td>
    </tr>
    <tr>
        <td><a class="btn btn-long" th:href="@{/tourist/chat}">x Chat System</a></td>
        <td><a class="btn btn-long" th:href="@{/tourist/report}">x Report System</a></td>
    </tr>

</table>


</body>

</html>