<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Tourist homepage</h1>

<table class="center horizontalTrim morePadding">
    <tr>
        <td><button class="btn btn-long" onclick="window.location='tourist/apply'">x Apply Tour</button></td>
        <td><button class="btn btn-long" onclick="window.location='tourist/payment'">Payment Method</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-long" onclick="window.location='tourist/booking'">x Booking Tour</button></td>
        <td><button class="btn btn-long" onclick="window.location='tourist/review'">x Review The Tour</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-long" onclick="window.location='tourist/chat'">x Chat System</button></td>
        <td><button class="btn btn-long" onclick="window.location='tourist/report'">x Report System</button></td>
    </tr>

</table>


</body>

</html>