<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Create a new tour</h1>

<form>
    <table class="horizontalTrim center morePadding" >
        <tbody>

        <tr>
            <td width="20%">Name of tour:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Country of tour:</td>
            <td>
                <select>
                    <option>Hong Kong</option>
                    <option>China</option>
                    <option>Australia</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Duration of tour (day):</td>
            <td><input type="number" min="1" value="1"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><textarea></textarea></td>
        </tr>
        <tr>
            <td>Tour Schedule:</td>
            <td><textarea></textarea></td>
        </tr>

        <tr>
            <td>Upload photo(optional):</td>
            <td><input type="file" multiple></td>
        </tr>
        <tr>
            <td colspan="2">
                <h3 class="borderedWithColor">Dates available for tours</h3>
            </td>
        </tr>
        <tr>
            <td>Dates of tour</td>
            <td>
                <input type="text" id="datepicker" class="form-control datepicker"
                       placeholder="Choose a date to participate" name="date"
                       maxlength="25" size="25" onchange="dateOnChange()">
                <script type="text/javascript">

                    function dateOnChange() {
                        console.log(document.getElementById("datepicker").value)
                    }

                    var datesForDisable = ["02-19-2022", "02-20-2022"]
                    $('.datepicker').datepicker({
                        format: 'mm-dd-yyyy',
                        multidate: true,
                        multidateSeparator: ", ",
                        datesDisabled: datesForDisable
                    });
                </script>
            </td>
        </tr>
        <tr>
            <td>Minimum participants</td>
            <td>
                <input type="number">
            </td>
        </tr>
        <tr>
            <td>Maximum participants</td>
            <td>
                <input type="number">
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Create Tour"></td>
        </tr>
        </tbody>
    </table>
</form>

</body>

</html>