<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Report System</h1>
<form >
    <table>
        <tr>
            <td>Title: </td>
            <td><input type="text" ></td>
        </tr>
        <tr>
            <td>Description: </td>
            <td><textarea></textarea></td>
        </tr>

        <tr>
            <td>&nbsp</td>
        </tr>
        <tr>
            <td>&nbsp</td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>


</body>

</html>