<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script>
        function fetchTours(){
            let selfUsername = document.getElementById("username").value

            let requestURL = '/api/tour/tours/'+selfUsername
            if (window.location.host == "tomcat.johnnyip.com"){
                requestURL = '/tour-system' + requestURL
            }

            var xmlHttpGet = new XMLHttpRequest();
            xmlHttpGet.open("GET", requestURL, false); // false for synchronous request
            xmlHttpGet.send(null);
            let resultObject = JSON.parse(xmlHttpGet.responseText);

            console.log(resultObject)

            let resultHTML = `<tr>
                                <th>Tour id</th>
                                <th>Tour name</th>
                                <th>Action</th>
                               </tr>`
            for(let tour of resultObject){
                resultHTML += `<tr>
                                    <td>${tour.id}</td>
                                    <td>${tour.name}</td>
                                    <td>
                                        <button type="button" class="btn btn-small">Edit Detail</button>
                                        <button type="button" class="btn btn-small">Joined Users</button>
                                        <button type="button" class="btn btn-small">Ratings</button>
                                        <button type="button" class="btn btn-small">Remove</button>
                                    </td>
                               </tr>`
            }
            document.getElementById("result_table").innerHTML = resultHTML;
        }

    </script>
</head>

<body onload="fetchTours()">

<header th:insert="header.html :: header"></header>
<h1>Manage tours</h1>
<input id="username" th:value="${username}" hidden>


<div th:if="${newCreate}" class="alert alert-success " role="alert" >
    Created a tour successfully!
</div>

<div class="alert alert-success " role="alert" id="update_success" hidden="hidden">
    Operation Success!
</div>
<div class="alert alert-danger" role="alert" id="update_fail" hidden="hidden">
    Operation Failed!
</div>

<table class="table center" valign="center" id="result_table">
</table>


<table class="table center" valign="center">
    <tr>
        <th>Tour id</th>
        <th>Tour name</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Tian Tan Buddha one day trip</td>
        <td>
            <a class="btn btn-small" th:href="@{/host/tourDetailEdit}">Edit Detail</a>
            <button type="button" class="btn btn-small">Joined Users</button>
            <button type="button" class="btn btn-small">Ratings</button>
            <button type="button" class="btn btn-small">Remove</button>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="background-color: #e4e1de">

            <table class="table center" width="100%">
                <tr>
                    <td colspan="3">
                        <div class="alignRight">
                            <button type="button" class="btn-long">close</button>
                        </div>
                        <h3>Joined Users</h3>
                        <select>
                            <option>Tian Tan Buddha one day trip (08-13-2022)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>User id</th>
                    <th>User name</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>johnny</td>
                    <td>
                        <a class="btn btn-small" th:href="@{/host/chat}">Chat</a>
                        <button type="button" class="btn btn-small">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>oscar</td>
                    <td>
                        <a class="btn btn-small" th:href="@{/host/chat}">Chat</a>
                        <button type="button" class="btn btn-small">Remove</button>
                    </td>
                </tr>

            </table>

        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ocean Park two day trip</td>
        <td>
            <a class="btn btn-small" th:href="@{/host/tourDetailEdit}">Edit Detail</a>
            <button type="button" class="btn btn-small">Ratings</button>
            <button type="button" class="btn btn-small">Remove</button>
        </td>
    </tr>
</table>


</body>

</html>
