<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Review tourists</h1>
<span class="heading"><h2>Tourists Rating</h2></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<p>0 average out of 0 review </p>
<hr style="border:3px solid #f1f1f1">
    <label for="trips">Choose a trip:</label>
    <select name="trips" id="trips">
        <option value="trip1">Tian Tan Buddha one day trip</option>
        <option value="trip2">Ocean Park two day trip</option>
    </select>
    <br><br>
    <hr>
    <input type="submit" value="Submit">
</body>

</html>