<html xmlns:th="http://www.thymeleaf.org">

<body>

<header th:insert="header.html :: header"></header>
<h1>Statistics</h1>


<table class="table center horizontalTrim" valign="center">
    <tr>
        <th colspan="2">
            <h3 class="borderedWithColor">Overall</h3>
        </th>
    </tr>
    <tr>
        <th>Number of events</th>
        <td>20</td>
    </tr>
    <tr>
        <th>Number of tours hosted</th>
        <td>500</td>
    </tr>
    <tr>
        <th>Number of tourists joined</th>
        <td>2432</td>
    </tr>
    <tr>
        <th colspan="2" >
            <h3 class="borderedWithColor">Tour</h3>
        </th>
    </tr>
    <tr>
        <th>Choose a tour</th>
        <td>
            <select>
                <option>Tian Tan Buddha one day trip</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Number of tours hosted</th>
        <td>20</td>
    </tr>
    <tr>
        <th>Number of participants</th>
        <td>532</td>
    </tr>
</table>


</body>

</html>