<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Edit tour detail</h1>

<form>
    <table class="horizontalTrim center morePadding" border="1">
        <tbody>

        <tr>
            <td width="20%">Name of tour:</td>
            <td><input type="text" value="Tian Tan Buddha one day trip"></td>
        </tr>
        <tr>
            <td>Country of tour:</td>
            <td>
                <select>
                    <option selected>Hong Kong</option>
                    <option>China</option>
                    <option>Australia</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Duration of tour (day):</td>
            <td><input type="number" min="1" value="1"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>
                <textarea>
            The Big Buddha and Po Lin Monastery are a major draw for Buddhist pilgrims. And these majestic religiousmonuments, set against beautiful mountain and coastal scenery, are just as popular with a wide range ofvisitors in Hong Kong.
                </textarea>
            </td>
        </tr>

        <tr>
            <td>Upload photo(optional):</td>
            <td><input type="file" multiple></td>
        </tr>
        <tr>
            <td colspan="2">
                <h3 class="card">Dates available for tours</h3>
            </td>
        </tr>
        <tr>
            <td>Dates of tour</td>
            <td>
                <input type="text" id="datepicker" class="form-control datepicker"
                       placeholder="Choose a date to participate" name="date"
                       maxlength="25" size="25" onchange="dateOnChange()" value="02-17-2022">
                <script type="text/javascript">

                    function dateOnChange() {
                        console.log(document.getElementById("datepicker").value)
                    }

                    var datesForDisable = ["02-19-2022", "02-20-2022"]
                    $('.datepicker').datepicker({
                        format: 'mm-dd-yyyy',
                        multidate: true,
                        multidateSeparator: ", ",
                        datesDisabled: datesForDisable
                    });
                </script>
            </td>
        </tr>
        <tr>
            <td>Limit of participants</td>
            <td>
                <input type="number" value="10">
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Create Tour"></td>
        </tr>
        </tbody>
    </table>
</form>

</body>

</html>