<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Host homepage</h1>
<table class="center horizontalTrim morePadding">
    <tr>
        <td><a class="btn btn-long" th:href="@{/host/create}">Create Tour</a></td>
        <td><a class="btn btn-long" th:href="@{/host/manage}">x Manage Tours</a></td>
    </tr>
    <tr>
        <td><a class="btn btn-long" th:href="@{/host/review}">x Review Tourists</a></td>
        <td><a class="btn btn-long" th:href="@{/host/hostChat}">x Chat System</a></td>
    </tr>
    <tr>
        <td><a class="btn btn-long" th:href="@{/host/hostReport}">Report System</a></td>
        <td><a class="btn btn-long" th:href="@{/host/receive}">x Receive Payment</a></td>
    </tr>

</table>
</body>

</html>
