<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Host homepage</h1>
<table class="center horizontalTrim morePadding">
    <tr>
        <td><button class="btn btn-long" onclick="window.location='host/create'">Create Tour</button></td>
        <td><button class="btn btn-long" onclick="window.location='host/apply'">Apply to be a host</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-long" onclick="window.location='host/edit'">Edit Tour</button></td>
        <td><button class="btn btn-long" onclick="window.location='host/review'">Review The Tour</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-long" onclick="window.location='host/chat'">Chat System</button></td>
        <td><button class="btn btn-long" onclick="window.location='host/report'">Report System</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-long" onclick="window.location='host/receive'">Receive Payment </button></td>
    </tr>

</table>

</body>

</html>