<html>

<body>

<header th:insert="header.html :: header"></header>
<h1>Host homepage</h1>
<table class="center horizontalTrim morePadding">
    <tr>
        <td><button class="btn btn-long" onclick="window.location='host/create'">x Create Tour</button></td>
        <td><button class="btn btn-long" onclick="window.location='host/manage'">x Manage Tours</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-long" onclick="window.location='host/review'">x Review Tourists</button></td>
        <td><button class="btn btn-long" onclick="window.location='host/hostChat'">x Chat System</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-long" onclick="window.location='host/hostReport'">x Report System</button></td>
        <td><button class="btn btn-long" onclick="window.location='host/receive'">x Receive Payment</button></td>
    </tr>

</table>
</body>

</html>
