<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat System</title>
    <link rel="stylesheet" th:href="@{/chat.css}">
</head>
<body>
<header th:insert="header.html :: header"></header>
<h1>Chat System</h1>

<div class="container" >
    <div class="row ">
        <div class="col-3" style="height: 700px">

            <div class="list-group ">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">username</h5>
                    </div>
                    <p class="mb-1">Some placeholder content in a paragraph.</p>
                    <small>And some small print.</small>
                </a>
                <!--        <a href="#" class="list-group-item list-group-item-action">-->
                <!--            <div class="d-flex w-100 justify-content-between">-->
                <!--                <h5 class="mb-1">List group item heading</h5>-->
                <!--                <small class="text-muted">3 days ago</small>-->
                <!--            </div>-->
                <!--            <p class="mb-1">Some placeholder content in a paragraph.</p>-->
                <!--            <small class="text-muted">And some muted small print.</small>-->
                <!--        </a>-->
                <!--        <a href="#" class="list-group-item list-group-item-action">-->
                <!--            <div class="d-flex w-100 justify-content-between">-->
                <!--                <h5 class="mb-1">List group item heading</h5>-->
                <!--                <small class="text-muted">3 days ago</small>-->
                <!--            </div>-->
                <!--            <p class="mb-1">Some placeholder content in a paragraph.</p>-->
                <!--            <small class="text-muted">And some muted small print.</small>-->
                <!--        </a>-->
            </div>
        </div>

        <div class="col-9 whiteBackground">

            <div class="container h-100">
                    <div  style="height: 625px">
                        <table>
                            <tr>
                                <td>

                                </td>
                            </tr>
                        </table>
                    </div>

                    <hr>

                    <div class="greyBackground" style="height: 75px;width: 100%">
                        123
                    </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>