<html xmlns:th="http://www.thymeleaf.org">

<script>
    function toggleEdit(editing) {
        if (editing) {
            document.getElementById("editing_no").hidden = true;
            document.getElementById("editing_yes").hidden = false;
        } else {
            document.getElementById("editing_no").hidden = false;
            document.getElementById("editing_yes").hidden = true;
        }
    }
</script>

<body>

<header th:insert="header.html :: header"></header>
<h1>Profile</h1>

<div th:if="${success != null && success}" class="alert alert-success " role="alert">
    Update successful!
</div>
<div th:if="${success != null && !success}" class="alert alert-danger " role="alert">
    Upadte failed!
</div>


<table class="horizontalTrim center morePadding" id="editing_no">
    <tr>
        <td colspan="2" class="alignRight">
            <button type="button" class="btn btn-primary" onclick="toggleEdit(true)">Edit</button>
        </td>
    </tr>
    <tr>
        <td>Username</td>
        <td>
            <span th:text="${user.username}"/>
        </td>
    </tr>
    <tr>
        <td>Email</td>
        <td>
            <span th:text="${user.email}"/>
        </td>
    </tr>
    <tr>
        <td>Full Name</td>
        <td>
            <span th:text="${user.fullName}"/>
        </td>
    </tr>
    <tr>
        <td>Nationality</td>
        <td>
            <span th:text="${user.nationality}"/>
        </td>
    </tr>
</table>

<form th:action="@{/user/profile}" th:object="${user}" method="POST">

    <table class="horizontalTrim center morePadding" id="editing_yes" hidden>
        <tr>
            <td colspan="2" class="alignRight">
                <button type="button" class="btn btn-primary" onclick="toggleEdit(false)">Cancel</button>
                <input type="submit" class="btn btn-primary"/>
            </td>
        </tr>
        <tr>
            <td>Username</td>
            <td>
                <span th:text="${user.username}"></span>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email" th:value="${user.email}"></td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td><input type="text" name="fullName" th:value="${user.fullName}"></td>
        </tr>
        <tr>
            <td>Nationality</td>
            <td><input type="text" name="nationality" th:value="${user.nationality}"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" hidden name="id" th:value="${user.id}">
            </td>
        </tr>
    </table>

</form>
<table class=" table horizontalTrim">
    <tr>
        <td colspan="2">
            <h2 class="center borderedWithColor">Reviews given by the hosts/tourists</h2>
        </td>
    </tr>
    <tr>
        <td style="width: 25%">
            Username<br>
            02-11-2022<br>
            &#9733;&#9733;&#9733;&#9733;&#9733;<br>
        </td>
        <td>
            <a th:href="@{/tourist/tourDetail}">Name of the tour</a><br>
            He is very polite.
        </td>
    </tr>
    <tr>
        <td>
            Username<br>
            02-12-2022<br>
            &#9734;&#9734;&#9734;&#9734;&#9734;<br>
        </td>
        <td>
            <a th:href="@{/tourist/tourDetail}">Name of the tour</a><br>
            He is so rude!
        </td>
    </tr>

</table>


</body>

</html>