<html>
<script>
    function toggleEdit(editing){
        if (editing){
            document.getElementById("editing_no").hidden = true;
            document.getElementById("editing_yes").hidden = false;
        }else{
            document.getElementById("editing_no").hidden = false;
            document.getElementById("editing_yes").hidden = true;
        }
    }
</script>

<body>

<header th:insert="header.html :: header"></header>
<h1>Profile</h1>

<table class="horizontalTrim center morePadding" id="editing_no" >
    <tr>
        <td colspan="2" class="alignRight">
            <button type="button" class="btn btn-primary" onclick="toggleEdit(true)">Edit</button>
        </td>
    </tr>
    <tr>
        <td>Username</td>
        <td>
            username
        </td>
    </tr>
    <tr>
        <td>Email</td>
        <td>sample@gmail.com</td>
    </tr>
    <tr>
        <td>Full Name</td>
        <td>Johnny IP</td>
    </tr>
    <tr>
        <td>Nationality</td>
        <td>Hong Kong</td>
    </tr>
</table>

<table class="horizontalTrim center morePadding" id="editing_yes" hidden>
    <tr>
        <td colspan="2" class="alignRight">
            <button type="button" class="btn btn-primary" onclick="toggleEdit(false)">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="toggleEdit(false)">Save</button>
        </td>
    </tr>
    <tr>
        <td>Username</td>
        <td><input type="text" value="username"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" value="sample@gmail.com"></td>
    </tr>
    <tr>
        <td>Full Name</td>
        <td><input type="text" value="Johnny IP"></td>
    </tr>
    <tr>
        <td>Nationality</td>
        <td><input type="text" value="Hong Kong"></td>
    </tr>
</table>

<table class=" table horizontalTrim">
    <tr>
        <td colspan="2">
            <h2 class="center borderedWithColor">Reviews given by the hosts/tourists</h2>
        </td>
    </tr>
    <tr>
        <td style="width: 25%">
            Username<br>
            02-11-2022<br>
            &#9733;&#9733;&#9733;&#9733;&#9733;<br>
        </td>
        <td>
            <a th:href="@{/tourist/tourDetail}">Name of the tour</a><br>
            He is very polite.
        </td>
    </tr>
    <tr>
        <td>
            Username<br>
            02-12-2022<br>
            &#9734;&#9734;&#9734;&#9734;&#9734;<br>
        </td>
        <td>
            <a th:href="@{/tourist/tourDetail}">Name of the tour</a><br>
            He is so rude!
        </td>
    </tr>

</table>


</body>

</html>