<html xmlns:th="http://www.thymeleaf.org">

<script>
    let tours = {}

    function fetchReviewsWritten() {
        let username = document.getElementById("username").value

        let requestURL = '/api/review/user/' + username;
        if (window.location.host == "tomcat.johnnyip.com") {
            requestURL = '/tour-system' + requestURL
        }

        var xmlHttpGet = new XMLHttpRequest();
        xmlHttpGet.open("GET", requestURL, false); // false for synchronous request
        xmlHttpGet.send(null);
        let resultObject = JSON.parse(xmlHttpGet.responseText);
        console.log(resultObject)

        if (resultObject.length != 0) {

            let tableHTML = ""

            for (const review of resultObject) {
                console.log(review)
                let tourURL = '/tour/' + review.tourId;
                let userProfileURL = '/profile/'+review.author
                if (window.location.host == "tomcat.johnnyip.com") {
                    tourURL = '/tour-system' + tourURL
                    userProfileURL = '/tour-system' + userProfileURL
                }

                if (tours[review.tourId] == undefined) {
                    fetchTourDetail(review.tourId);
                }


                let rating = ""
                for (let i = 1; i <= 5; i++) {
                    if (review.userStars >= i) {
                        rating += "★"
                    } else {
                        rating += '☆'
                    }
                }

                tableHTML += `<tr>
                                    <td style="width: 25%" class="morePadding">
                                        <a href="${userProfileURL}">${review.author}</a><br>
                                        ${rating}<br>
                                    </td>
                                    <td class="morePadding">
                                        <a href="${tourURL}">${tours[review.tourId].name}</a><br>
                                        ${review.userComment}
                                    </td>
                                </tr>`
            }

            document.getElementById("writtenReview").innerHTML = tableHTML
        } else {
            document.getElementById("writtenReview").setAttribute("hidden", "hidden")
            document.getElementById("noReviewWritten").removeAttribute("hidden")
        }
    }

    function fetchTourDetail(tourId) {
        let requestURL = '/api/tour/tourDetail/' + tourId;
        if (window.location.host == "tomcat.johnnyip.com") {
            requestURL = '/tour-system' + requestURL
        }

        var xmlHttpGet = new XMLHttpRequest();
        xmlHttpGet.open("GET", requestURL, false); // false for synchronous request
        xmlHttpGet.send(null);
        let resultObject = JSON.parse(xmlHttpGet.responseText);

        console.log(resultObject)
        tours[tourId] = resultObject
    }


</script>

<body onload="fetchReviewsWritten()">

<header th:insert="header.html :: header"></header>
<h1>Profile</h1>

<input type="text" id="username" th:value="${user.username}" hidden>


<table class="horizontalTrim center morePadding" id="editing_no">
    <tr>
        <td>Username</td>
        <td>
            <span th:text="${user.username}"/>
        </td>
    </tr>
    <tr>
        <td>Role</td>
        <td>
            <span th:if="${user.role == 'ROLE_HOST'}">Host</span>
            <span th:if="${user.role == 'ROLE_TOURIST'}">Tourist</span>
            <span th:if="${user.role == 'ROLE_STAFF'}">Staff</span>
        </td>
    </tr>
    <tr>
        <td>Email</td>
        <td>
            <span th:text="${user.email}"/>
        </td>
    </tr>
    <tr>
        <td>Full Name</td>
        <td>
            <span th:text="${user.fullName}"/>
        </td>
    </tr>
    <tr>
        <td>Nationality</td>
        <td>
            <span th:text="${user.nationality}"/>
        </td>
    </tr>
</table>


<h2 class="center horizontalTrim borderedWithColor" th:if="${user.role != 'ROLE_STAFF'}">
    Reviews given by others
</h2>

<table class=" table horizontalTrim" id="writtenReview" th:if="${user.role != 'ROLE_STAFF'}">

</table>

<div id="noReviewWritten" class="center horizontalTrim" hidden="hidden" th:if="${user.role != 'ROLE_STAFF'}">
    <h3>No reviews received.</h3>
</div>

</body>

</html>