<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        let tour = {}
        let tourDates = {}
        let tourSlotsLeft = {}

        function onLoadHandler() {
            fetchTour()
            fetchReviewsOfTour()
            fetchReviewsOfHost()
        }

        function fetchTour() {
            let tourId = document.getElementById("tourIdChosen").value;

            let requestURL = '/api/tour/tourDetail/' + tourId
            if (window.location.host == "tomcat.johnnyip.com") {
                requestURL = '/tour-system' + requestURL
            }

            var xmlHttpGet = new XMLHttpRequest();
            xmlHttpGet.open("GET", requestURL, false); // false for synchronous request
            xmlHttpGet.send(null);
            let tourDetail = JSON.parse(xmlHttpGet.responseText);

            console.log(tourDetail)

            if (tourDetail.coverPhoto != "") {
                document.getElementById("result_img").src = "https://uow-project-tour-system.s3.ap-east-1.amazonaws.com/" + tourDetail.coverPhoto
            } else {
                document.getElementById("result_img").setAttribute("hidden", "hidden")
            }

            let profileURL = '/profile/' + tourDetail.hostUsername
            if (window.location.host == "tomcat.johnnyip.com") {
                profileURL = '/tour-system' + profileURL
            }

            document.getElementById("result_name").innerText = tourDetail.name
            document.getElementById("result_hostUsername").innerHTML = `<a href="${profileURL}">${tourDetail.hostUsername}</a>`

            document.getElementById("tourHost").value = tourDetail.hostUsername
            document.getElementById("result_days").innerText = tourDetail.days
            document.getElementById("result_fee").innerText = "$" + tourDetail.fee
            document.getElementById("result_description").innerText = tourDetail.description
            document.getElementById("result_schedule").innerText = tourDetail.schedule

            tour = tourDetail

        }

        function onChangeOfTabs(type){
            if (type == "tour"){
                document.getElementById("table_hostReview").setAttribute("hidden","hidden");
                document.getElementById("table_tourReview").removeAttribute("hidden")
                document.getElementById("btn_hostReview").classList = "btn btn-secondary"
                document.getElementById("btn_tourReview").classList = "btn btn-primary"

            }else{
                document.getElementById("table_tourReview").setAttribute("hidden","hidden");
                document.getElementById("table_hostReview").removeAttribute("hidden")
                document.getElementById("btn_tourReview").classList = "btn btn-secondary"
                document.getElementById("btn_hostReview").classList = "btn btn-primary"
            }
        }

        function fetchReviewsOfTour(){
            let tourId = document.getElementById("tourIdChosen").value;

            let requestURL = '/api/review/tour/' + tourId
            if (window.location.host == "tomcat.johnnyip.com") {
                requestURL = '/tour-system' + requestURL
            }

            var xmlHttpGet = new XMLHttpRequest();
            xmlHttpGet.open("GET", requestURL, false); // false for synchronous request
            xmlHttpGet.send(null);
            let resultObject = JSON.parse(xmlHttpGet.responseText);

            console.log("Review")
            console.log(resultObject)

            let tableHTML = ""

            for (const review of resultObject){
                if (review.tourStars != 0){
                    let userProfileURL = '/profile/'+review.author
                    if (window.location.host == "tomcat.johnnyip.com") {
                        userProfileURL = '/tour-system' + userProfileURL
                    }


                    let rating = ""
                    for (let i = 1; i <= 5; i++) {
                        if (review.tourStars >= i) {
                            rating += "★"
                        } else {
                            rating += '☆'
                        }
                    }

                    tableHTML += `<tr>
                                    <td style="width: 25%" class="morePadding">
                                        <a href="${userProfileURL}">${review.author}</a><br>
                                        ${rating}<br>
                                    </td>
                                    <td class="morePadding">
                                        ${review.tourComment}
                                    </td>
                                </tr>`
                }
            }

            document.getElementById("table_tourReview").innerHTML = tableHTML
        }

        function fetchReviewsOfHost(){
            let hostUsername = document.getElementById("tourHost").value;
            let tourId = document.getElementById("tourIdChosen").value;

            let requestURL = '/api/review/user/' + hostUsername
            if (window.location.host == "tomcat.johnnyip.com") {
                requestURL = '/tour-system' + requestURL
            }

            var xmlHttpGet = new XMLHttpRequest();
            xmlHttpGet.open("GET", requestURL, false); // false for synchronous request
            xmlHttpGet.send(null);
            let resultObject = JSON.parse(xmlHttpGet.responseText);

            console.log("Review")
            console.log(resultObject)

            let tableHTML = ""

            for (const review of resultObject){
                if (review.tourId == tourId){
                    let userProfileURL = '/profile/'+review.author
                    if (window.location.host == "tomcat.johnnyip.com") {
                        userProfileURL = '/tour-system' + userProfileURL
                    }


                    let rating = ""
                    for (let i = 1; i <= 5; i++) {
                        if (review.userStars >= i) {
                            rating += "★"
                        } else {
                            rating += '☆'
                        }
                    }

                    tableHTML += `<tr>
                                    <td style="width: 25%" class="morePadding">
                                        <a href="${userProfileURL}">${review.author}</a><br>
                                        ${rating}<br>
                                    </td>
                                    <td class="morePadding">
                                        ${review.userComment}
                                    </td>
                                </tr>`
                }
            }

            document.getElementById("table_hostReview").innerHTML = tableHTML

        }


    </script>
</head>
<body onload="onLoadHandler()">
<header th:insert="header.html :: header"></header>

<form method="POST" id="submitForm">
    <input type="text" name="tourId" id="tourIdChosen" hidden th:value="${tourId}">
    <input type="text" name="tourId" id="tourHost" hidden >

    <table class="center table horizontalTrim">
        <tr>
            <td colspan="2">
                <h2 class="center borderedWithColor">Tour Detail</h2>
            </td>
        </tr>

        <tr>
            <!-- Photo -->
            <td colspan="2">
                <img id="result_img" class="center" style="height: 400px">
            </td>
        </tr>
        <tr>
            <th width="20%">Name of tour:</th>
            <td id="result_name"style="text-align:left" >Error</td>
        </tr>
        <tr>
            <th width="20%">Hosted By:</th>
            <td id="result_hostUsername" style="text-align:left" >
                Error
            </td>
        </tr>
        <tr>
            <th>Tour's day(s):</th>
            <td id="result_days" style="text-align:left"></td>
        </tr>
        <tr>
            <th>Cost per tourist:</th>
            <td id="result_fee" style="text-align:left"></td>
        </tr>
        <tr>
            <th>Description:</th>
            <td id="result_description" style="text-align:left"></td>
        </tr>
        <tr>
            <th>Tour Schedule</th>
            <td id="result_schedule" style="text-align:left"></td>
        </tr>

    </table>
</form>

<table class="table horizontalTrim">
    <tr>
        <td colspan="2">
            <h2 class="center borderedWithColor">Reviews</h2>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="horizontalTrim center">
            <div class="btn-group">
                <button type="button" id="btn_tourReview" class="btn btn-primary" onclick="onChangeOfTabs('tour')">Reviews of Tour</button>
                <button type="button" id="btn_hostReview" class="btn btn-secondary" onclick="onChangeOfTabs('host')">Reviews of Host</button>
            </div>
        </td>
    </tr>
</table>


<table class="table horizontalTrim" id="table_tourReview">
</table>

<table class="table horizontalTrim" id="table_hostReview" hidden="hidden">
</table>

</body>
</html>