<html xmlns:th="https://www.thymeleaf.org">

<body>

<header th:insert="header.html :: header"></header>
<h1>Signup as Tourist</h1>

    <form action="#" th:action="@{/signup/tourist}" th:object="${user}" method="POST">
        <table class="horizontalTrim center morePadding">
            <tr>
                <td>Username:</td>
                <td><input type="text" th:field="*{username}" id="username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" th:field="*{password}" id="password"></td>
            </tr>
            <tr>
                <td>Re-enter password</td>
                <td><input type="password" id="password2"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" th:field="*{email}"></td>

            </tr>
            <tr>
                <td>Full Name</td>
                <td><input type="text" th:field="*{fullName}"></td>
            </tr>
            <tr>
                <td>Nationality</td>
                <td><input type="text" th:field="*{nationality}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="clear" value="Clear" class="btn btn-long">
                    <input type="submit" value="Submit" class="btn btn-long">

                </td>
            </tr>
        </table>

    </form>


</body>

</html>