<html xmlns:th="https://www.thymeleaf.org">z

<body>

<header th:insert="header.html :: header"></header>
<h1>Signup as Tourist</h1>
<div th:if="${error}" class="alert alert-danger" role="alert">
    Problem occurs when trying to submit.
</div>


<form action="#" th:action="@{/signup/tourist}" th:object="${user}" method="POST">
    <table class="horizontalTrim center morePadding">
        <tr>
            <td><b>*Username</b></td>
            <td><input type="text" required th:field="*{username}" id="username"></td>
        </tr>
        <tr>
            <td><b>*Password</b></td>
            <td><input type="password" required th:field="*{password}" id="password"></td>
        </tr>
        <tr>
            <td><b>*Re-enter password</b></td>
            <td><input type="password" required id="password2"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}"></td>

        </tr>
        <tr>
            <td>Full Name</td>
            <td><input type="text" th:field="*{fullName}"></td>
        </tr>
        <tr>
            <td>Nationality</td>
            <td>
                <select id="form_country" th:field="*{nationality}">
                    <option value="Hong Kong">Hong Kong</option>
                    <option value="China">China</option>
                    <option value="Australia">Australia</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="right">
                *Required
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit" class="btn btn-long">

            </td>
        </tr>
    </table>

</form>


</body>

</html>